/* font-family: 'Nunito', sans-serif;  */

body {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 72px;
  font-weight: 700;
}
h2 {
  font-size: 28px;
  font-weight: 700;
}

p {
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
}

li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav {
  padding: 20px 0;
}

.hero {
  text-align: center;
  color: white;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("/images/background.png");
  padding: 40px 0;
}

.recipes {
  padding: 60px 20px;
}
