/* font-family: 'Nunito', sans-serif;  */

body {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 72px;
  font-weight: 700;
}

.hero h1 {
  font-size: 72px;
  font-weight: 700;
}
.hero h2 {
  font-size: 28px;
  font-weight: 700;
}

.hero p {
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
}

li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav {
  padding: 20px 0;
}
nav a {
  text-decoration: none;
  color: black;
}

.hero {
  text-align: center;
  color: white;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("/images/background.png");
  padding: 40px 0;
}

.recipes {
  padding: 60px 20px;
}

.about-me-section {
  max-width: 960px;
  display: block;
  margin: 100px auto;
}

.about-me-section h2 {
  font-size: 64px;
  font-weight: 700;
}

.about-me-section p {
  font-size: 18px;
  line-height: 30px;
}

.favourite-recipe h3 {
  font-size: 36px;
  font-weight: 700;
}

.favourite-recipe h4 {
  font-size: 24px;
  font-weight: 700;
}

.favourite-recipe p {
  font-size: 16px;
  line-height: 30px;
}

.recipe h2 {
  font-size: 36px;
  font-weight: 700;
}

.recipe h3 {
  font-size: 24px;
  font-weight: 700;
}

.recipe h4 {
  font-size: 18px;
  font-weight: 800;
  color: #f65282;
}

.recipe hr {
  border-top: 2px dashed turquoise;
}

.recipe p {
  font-size: 18px;
  line-height: 30px;
}

.recipe-page .container {
  max-width: 760px;
}

.contact-us-section .container {
}

.contact-us-section h3 {
  font-size: 30px;
  font-weight: 700;
  color: #662eed;
  text-transform: capitalize;
}

.contact-us-section p {
  font-size: 24px;
  line-height: 30px;
}
