/* font-family: 'Nunito', sans-serif;  */

body {
  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h1 {
  font-size: 72px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav {
  padding: 20px 0;
}


footer {
    width: 100%;
    background-color: #F9F7FE;
    padding: 40px 20px;
    margin-top: 40px;
  }

footer i {
    margin: 10px;
}


.active {
  color: #f65282;
}

.hero {
  text-align: center;
  color: white;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("/images/background.png");
  padding: 40px 0;
}

.hero h2 {
  font-size: 28px;
}

.hero p {
  font-size: 24px;
  font-weight: 700;
}

.recipes {
  padding: 0 20px;
}

.about-me-section {
  max-width: 960px;
  margin: 100px auto;
}

.about-me-section h2 {
  font-size: 64px;
}

.about-me-section p {
  font-size: 18px;
  line-height: 30px;
}

.about-me-section i {
  font-size: 16px;
  margin-left: 20px;
}

.favourite-recipe h3 {
  font-size: 36px;
}

.favourite-recipe h4 {
  font-size: 24px;
}

.favourite-recipe p {
  font-size: 16px;
  line-height: 30px;
}

.recipe h2 {
  font-size: 36px;
}

.recipe h3 {
  font-size: 24px;
}

.recipe h4 {
  font-size: 18px;
  font-weight: 800;
  color: #f65282;
}

.recipe hr {
  border-top: 2px dashed turquoise;
}

.recipe p {
  font-size: 18px;
  line-height: 30px;
}

.recipe-page .container {
  max-width: 760px;
}

.contact-us-section {
    margin-bottom: 80px;
}

.contact-us-section i {
  margin-right: 20px;
}

.contact-us-section h2 {
  font-size: 30px;
  color: #662eed;
  text-transform: capitalize;
}

.contact-us-section p {
  font-size: 24px;
  line-height: 30px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
  }

  body {
    text-align: center;
  }

  .hero p {
    font-size: 16px;
  }

  .about-me-section h2 {
    font-size: 44px;
  }

  .recipe h2 {
    font-size: 24px;
  }
  .recipe h3 {
    font-size: 20px;
  }

  .contact-us-section h2 {
    font-size: 24px;
  }

  .contact-us-section p {
    font-size: 18px;
  }